<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href="{% url 'mailing:home' %}">Home</a>
    <a class="nav-link" href="{%  url 'mailing:recipient_list' %}">Клиенты</a>
    <a class="nav-link" href="{%  url 'mailing:mailing_list' %}">Рассылки</a>
    <a class="nav-link me-3" href="{%  url 'mailing:message_list' %}">Сообщение</a>
     {% if user.is_authenticated %}
            <form class="nav-link" method="post" action="{% url 'users:logout'%}" style="display:inline">
                  {% csrf_token %}
                <button type="submit" class="nav-link" style="display:inline"> Выход</button>
            </form>
       {% else %}
             <form class="nav-link" method="post"  style="display:inline">
                {% csrf_token %}
            <a class="nav-link" href="{% url 'users:login'%}">Вход</a>
             </form>
              <form class="nav-link" method="post"  style="display:inline">
                  {% csrf_token %}
            <a class="nav-link" href="{% url 'users:register'%}">Регистрация</a>
             </form>
       {% endif %}
</nav>