<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href="{% url 'mailing:home' %}">Home</a>
    <a class="nav-link" href="{%  url 'mailing:recipient_list' %}">Клиенты</a>
    <a class="nav-link" href="{%  url 'mailing:mailing_list' %}">Рассылки</a>
    <a class="nav-link me-3" href="{%  url 'mailing:message_list' %}">Сообщение</a>
    <a class="nav-link me-3" href="{%  url 'mailing:mailing_attempt_list' %}">Попыток рассылки</a>
     {% if user.is_authenticated %}
         {% csrf_token %}
         {% load my_tags %}
    <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              {% if object.avatar %}
              <img src="{{ object.avatar |  media_filter }}" alt="avatar"  width="32" height="32" class="rounded-circle me-2">
              {% else %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" idth="32" height="32" class="rounded-circle me-2">
              {% endif %}
            <strong>{{user.username}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'users:profile' user.pk %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:profile_update' user.pk %}">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'users:logout'%}">Выход</a></li>
          </ul>
        </div>
       {% else %}
             <form class="nav-link" method="post"  style="display:inline">
                {% csrf_token %}
            <a class="nav-link" href="{% url 'users:login'%}">Вход</a>
             </form>
              <form class="nav-link" method="post"  style="display:inline">
                  {% csrf_token %}
            <a class="nav-link" href="{% url 'users:register'%}">Регистрация</a>
             </form>
       {% endif %}
</nav>